{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
</head>
<body>
<form class="signup-form" method="POST">
    {% csrf_token %}
    <h2>Create Account</h2>
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="password1" placeholder="Confirm Password">
    <span><p style="color:red; margin: -5px;">{{ msg }}</p></span>
    <button type="submit">Sign Up</button>
</form>
</body>
</html>

